<!DOCTYPE html>
<html lang="en">
  <head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>{{ site.title }}</title>

  <!--Link stylesheets-->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href={{site.css_link}}>
  <!--Link FontAwesome CDN-->
  <script src="https://use.fontawesome.com/2999167cc0.js"></script>
  
  </head>
  <body>
    <div class="row" id="header">
        <div class="col-md-7 col-md-offset-1">
          <a class="siteTitle" href="index.html">St. Edward's Women's Club Lacrosse</a>
        </div>
    </div>

    <!-- Nav Bar Stuff -->
    <div class="row" id="nav-bar">
      <div class="col-md-2 col-md-offset-1">
        <a href="team.html">Team</a>
      </div>
      <div class="col-md-2">
        <a href="players.html">Players</a>
      </div>
      <div class="col-md-2">
        <a href="schedule.html">Schedule</a>
      </div>
      <div class="col-md-2">
        <a href="community.html">Community</a>
      </div>
    </div>


    <!-- Content -->
    <div class="row" id="page-content">
      {{content}}
    </div>


    <div class="row">
      <footer>

        <div class="footer-social-icons">
          <h4>Follow us on:</h4>
          <ul>
            <li><a href="https://www.facebook.com/seuwlax/" class="social-icon"> <i class="fa fa-facebook fa-2x" aria-hidden="true"></i></a></li>
            <li><a href="https://twitter.com/seuwlax/" class="social-icon"> <i class="fa fa-twitter fa-2x" aria-hidden="true"></i></a></li>
            <li><a href="https://www.instagram.com/seuwlax/" class="social-icon"> <i class="fa fa-instagram fa-2x" aria-hidden="true"></i></a></li>
          </ul>
        </div>
        <div class="footer-bottom">
          Contact us at <a href="mailto:womenlax@stedwards.edu">{{site.email}}</a>.
          <br>
          Copyright © 2017-2018 St. Edward's Women's Club Lacrosse, All rights reserved.
        </div>

      </footer>
    </div>
    
  </body>
</html>
